---
layout: layouts/base
---

<div class="grid md:grid-cols-2 mb-20 w-screen -translate-x-3 sm:-translate-x-6">
    <section id="design" class="bg-slate-300">
        <div class="w-full mb-4 text-center bg-black text-white pb-4">
            <h1 class="fitty text-center" style="line-height:0.8">Creative<br>Direction</h1>
        </div>
        <div class="text-lg md:text-xl mb-20">
            {# <h2 class="opacity-50">Expertise</h2> #}
            <p class="">
                Design, production, and creative direction for brands and clients in the field of contemporary arts and culture.
            </p>
        </div>
        <div class="text-lg md:text-xl mb-20">
            <h2 class="opacity-50 fitty">Expertise</h2>
            <p class="">
                Typography, Art Direction, Branding, Print Design, Photography, Illustration, Color Theory, Composition, Visual Identity, Brand Strategy, Packaging Design, Editorial Design, Copywriting, Creative Storytelling, Analog Photography, Traditional Media, Conceptual Thinking, Cultural Research, Design Thinking, Trend Analysis, ...
            </p>
        </div>
        <div class="mb-20">
            <h2 class="opacity-50 fitty text-center" style="line-height:0.8">Let’s get <br> started</h2>
            <p class="text-lg md:text-xl">
                Always <a href="#contact" class="text-green-500">open</a> for new challenges, project consultation, and in-depth engagement with creative projects. Don’t be a stranger!
            </p>
        </div>
    </section>
    <section id="development" class="bg-slate-100">
        <div class="w-full mb-4 text-center bg-black pb-6">
            <h1 class="fitty text-center text-white" style="line-height:0.8">Web<br>Development</h1>
        </div>
        <div class="text-lg md:text-xl mb-20">
            {# <h2 class="opacity-50">Expertise</h2> #}
            <p class="">
                Design and development of tailored websites and digital systems that are useful, simple, and effortless to maintain.
            </p>
        </div>
        <div class="text-lg md:text-xl mb-20">
            <h2 class="opacity-50 fitty">Tech Stack</h2>
            <p class="">
                Kirby CMS, Typo3, Tailwind, SASS, vite, Adobe Suite, Serverless, DNS, Alpine JS, Shopify, PHP, Node.js, REST APIs, Vue, Webpack, Git, SEO, Accessibility, Performance Optimization, Responsive Design, UI/UX Design, CMS Development, Static Site Generators, CI/CD, Docker, Design Systems, Figma, Prototyping, Creative Coding, ...
            </p>
        </div>
        <div class="text-lg md:text-xl mb-20">
            <h2 class="opacity-50 fitty">Availability</h2>
            <p class="">
                Currently <a href="#contact" class="text-green-500">available</a> for new commissions, technical consultation, and development services for other designers and agencies. Get in touch!
            </p>
        </div>
    </section>
</div>


<section class="py-32 md:py-48" id="contact">
  <div class="w-full text-center flex items-center justify-center">
    <a class="fitty" href="mailto:{{ site.email }}">{{site.email}}</a>
  </div>
</section>