    {# {% if page.url != '/' %} #}
    {% include "partials/footer.njk" %}
    {# {% endif %} #}
    {% include 'partials/frame.njk' %}

    <script src="/assets/js/alpine.js"></script>
    <script src="{{ '/assets/js/scripts.js' | url }}"></script>

  </body>
</html>